
<section class="bg-primary text-body-inverse pt-16 md:pt-32 pb-16">
    <div class="mx-auto max-w-7xl px-6">
        <div class="grid grid-col-1 md:grid-cols-5 items-start mb-16 md:gap-y-16 gap-y-4 md:gap-x-8">
            <div class="md:col-span-3">
                <h2 class="text-2xl md:text-5xl font-semibold max-w-lg text-surface">
                    {{ .Site.Params.footer.headline }}
                </h2>
                {{ if .Site.Params.footer.description}}
                <h3>
                    {{ .Site.Params.footer.description }}
                </h3>
                {{ end }}
            </div>
            <div class="md:col-start-4">
                {{ partial "footer/address.html" . }}
                {{ partial "footer/social.html" . }}
            </div>
            <div>
                {{ partial "footer/contacts.html" . }}
            </div>
        </div>
        <div class="border-t-2 border-gray-600 pt-4">
            <div class="flex flex-col md:flex-row justify-between gap-y-6">
                {{ partial "menu.html" (dict "menuID" "footer" "page" .Page) }}
                <div>
                    <p class="text-sm md:text-md mb-2">Copyright {{ now.Year }}. All rights reserved. </p>
                    <p class="text-xs md:float-end">Designed & built by <a href="https://lucapalonca.com" target="_blank" class="hover:text-body-inverse">Luca Palonca</a></p>
                </div>
            </div>
        </div>
    </div>

</section>